@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --text-orange: #F58634;
    --text--dark-orange: #f97312;
    --text-gray: #828282;
    --text-dark: #1B2021;
    --text-white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Poppins', sans-serif;
}

.btn{
    background-color: var(--text-orange);
    border: 0;
    outline: 0;
    padding: 20px 50px;
    color: var(--text-white) !important;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--text--dark-orange);
    box-shadow: 0px 0px 5px var(--text-orange);
}

.container{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.nav {
    max-width: var(--max-width);
    padding: 3rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo_nav{
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: 500;
}

.nav .logo_nav span{
    color: var(--text-orange);
}

.nav .menu-nav{
    display: flex;
    gap: 56px;
    align-items: center;
}

.nav .menu-nav li{
    list-style: none;
    cursor: pointer;
    color: var(--text-gray);
}

.nav .menu-nav li a{
    text-decoration: none;
    color: var(--text-gray);
}

.nav .menu-nav li a:hover{
    color: var(--text-dark);
}

/* SECTION HEADER */

.section_header{ 
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section_header .header_content{
    max-width: var(--max-width);
    padding: 2.8rem 0;
    margin: auto;
    display: grid;
    grid-template-columns: 2.3fr auto 1fr;
    align-items: center;
}

.section_header .header_content .header_title{
    font-size: 4rem;
    font-weight: 500;
}

.section_header .header_content .header_text{
    color: var(--text-gray);
    padding: 1.3rem;
    font-weight: 400;
}

.section_header .header_content img{
    width: 100%;
    margin-top: -3rem;
}

.section_header > img{
    width: 100%;
    margin: auto;
    padding-right: 15vh;
}
 
.section_header .search_form{
    max-width: fit-content;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 45px #0000004a;
    margin: -65px 15vh 50px 0;
    padding: 20px;
    padding-left: 50px;
    z-index: 5;
    align-self: flex-end;
}

.section_header .search_form form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
}

.section_header .search_form form .form_content{
    width: 50%;
    align-self: center;
    justify-self: center;
}

.section_header .search_form form .form_content_btn{
    width: 70%;
}

.section_header .search_form form .form_content_btn .btn{
    width: 100%;
    padding: 30px 50px;
    font-size: 16px;
}

.section_header .search_form form .form_content{
    color: var(--text-dark);
    font-size: 1rem;
}

.section_header .search_form form .form_content input{
    border: none;
    margin-top: .5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: auto;
    width: 80%;
}

.section_header .search_form form .form_content select{
    font-size: 1rem;
    margin-top: .5rem;
    color: var(--text-gray);
    background-color: var(--text-white);
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* HOUSE CONTENT*/

.house-sale{
    margin: auto;
    padding: 5rem 0;
}

.house-content{
    max-width: var(--max-width);
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.house-content .left_side{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.title_section{
    font-size: 3rem;
    font-weight: 500;
    color: var(--text-dark)
}

.view_all{
    color: var(--text-dark);
    font-size: 1.5rem;
}

.view_all:hover{
    color: var(--text-orange);
}

.house-content .left_side p a{
    font-size: 1.5rem;
    color: var(--text-gray);
    text-decoration: none;
    cursor: pointer;
}

.house-content .left_side p a:hover, .house-content .left_side p a:focus{
    color: var(--text-orange);
}

.house-sale .house_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.house-sale .house_container .house_box .house_img{
    display: flex;
    flex-direction: column;
}

.house-sale .house_container .house_box .house_img i{
    width: 42px;
    height: 42px;
    text-align: center;
    font-size: 1.5rem;
    align-self: flex-end;
    z-index: 10;
    margin-bottom: -4rem;
    margin-right: 1rem;
    color: var(--text-orange);
    background-color: var(--text-white);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}

.house-sale .house_container .house_box .house_img i:hover{
    color: var(--text-white);
    background-color: var(--text-orange);
}

.house-sale .house_container .house_box .house_img span{
    margin-top: -2rem;
    background-color: var(--text-white);
    max-width: fit-content;
    padding: 10px;
    color: var(--text-orange);
}

.house-sale .house_container .house_box .house_name{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: .2rem;
    cursor: pointer;
}

.house-sale .house_container .house_box .house_name:hover{
    color: var(--text-orange);
}

.house-sale .house_container .house_box .house_location{
    color: var(--text-gray);
    padding-bottom: .5rem;
}

.house-sale .house_container .house_box .house_price{
    color: var(--text-orange);
    font-size: 1.5rem;
}

/* HOUSE REVIEW */

swiper-container {
    width: 100%;
    height: 100%;
    padding-left: 15vh;
    margin: auto;
}

swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
    
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.house_review .review_container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.house_review .house-content{
    max-width: var(--max-width);
    margin: auto;
}

.house_review .review_container .review_box{
    background-color: var(--text-white);
}
.house_review .review_container .review_box .review_img{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.house_review .review_container .review_box .review_img p{
    width: fit-content;
    color: var(--text-orange);
    margin-top: -3.5rem;
    background-color: var(--text-white);
    padding: 1rem;
}

.house_review .review_container .review_box .review_details{
    font-size: 1.5rem;
}

/* HOUSE BLOG */
.house_blog{
    margin: auto;
    padding: 5rem 0;
}

.house_blog .blog_list_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.house_blog .blog_list_content .blog_content .blog_img{
    display: flex;
    flex-direction: column;
}

.house_blog .blog_list_content .blog_content .blog_img .author_blog{
    background-color: var(--text-white);
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin: -4rem 0 2rem 0;
    padding: 1rem;
}

.house_blog .blog_list_content .blog_content .blog_img .author_blog .author_name h4{
    font-size: 1.1rem;
    font-weight: 400;
}

.house_blog .blog_list_content .blog_content .blog_img .author_blog .role{
    font-size: 10px;
    color: var(--text-gray);
}

.house_blog .blog_list_content .blog_content .blog_title{
    margin-bottom: 1rem;
}

.blog_title{
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-dark);
}

.blog_title:hover{
    color: var(--text-orange);
}

.blog_author{
    font-size: 1rem;
    color: var(--text-gray);
}

.blog_desc{
    font-size: 1rem;
    color: var(--text-gray);
}

.house_blog .blog_list_content .blog_content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius:.8rem;
    gap: 2rem;
}

.house_blog .blog_list_content .blog_content2 .blog_content{
    display: flex;
    flex-direction: row;
}

.house_blog .blog_list_content .blog_content2 .blog_content .left_blog_content{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    padding: 2rem;
}

/* SUBSCRIBE SECTION */

.subscribe_container{
    margin: 5rem 0 5rem 15vh;
    max-height: fit-content;
    background-color: var(--text-orange);
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: center;
    align-items: center;
}

.subscribe_container h1{
    color: var(--text-white);
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.subscribe_container form{
    padding: 1rem;
    margin: 2rem 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    background-color: var(--text-white);
}

.subscribe_container form input{
    font-family: 'Poppins', sans-serif;
    border: 0;
    width: 100%;
    background: none;
    padding: 1rem 2rem;
}

.subscribe_container form input:hover, .subscribe_container form input:focus{
    border: none;
    outline: none;
}

/* FOOTER */

.footer_container{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_container .design_by{
    color: var(--text-gray);
    font-size: 1.5rem;
}

.footer_container .design_by a{
    text-decoration: none;
    color: var(--text-gray);
}

.footer_container .design_by a:hover{
    color: var(--text-orange);
}

.footer_container .social_media{
    font-size: 3rem;
}

.footer_container .social_media i{
    color: var(--text-orange);
    cursor: pointer;
}


.footer_container .social_media i:hover{
    color: var(--text--dark-orange);
}

@media only screen and (max-width: 1200px){
    body{
        padding: 0 3rem;
    }

    .section_header .header_content{
        grid-template-columns: 1.5fr auto 1fr;
    }

    .section_header .header_content .header_title{
        font-size: 3rem;
    }

    .section_header .header_content img{
        padding: 0;
        margin-top: -1.5rem;
    }

    .section_header > img{
       margin-left: -3rem;
    }

    .section_header .search_form{
        margin-right: 23vh;
        margin-bottom: -3rem;
    }

    .subscribe_container{
        margin-right: -3rem;
    }

    .title_section{
        font-size: 2rem;
    }

    .house-sale .house-content .left_side p a{
        font-size: 1rem;
    }
    
    .view_all{
        font-size: 1rem;
    }

    

    .house-sale .house_container .house_box .house_img img{
        width: 100%;
    }

    .house-sale .house_container .house_box .house_name{
        font-size: 1.5rem;
    }
    
    .house-sale .house_container .house_box .house_price{
        font-size: 1.5rem;
    }

    .house_review .review_container .review_box .review_img p{
        font-size: 1rem;
    }

    .house_review .review_container .review_box .review_details{
        font-size: 1rem;
    }

    .house_blog .blog_list_content > .blog_content .blog_title{
        font-size: 1.5rem;
    }

    .house_blog .blog_list_content .blog_content2 > .blog_content .blog_title{
        font-size: 1rem;
    }

    .subscribe_container h1{
        font-size: 2rem;
    }

    .footer_container .design_by{
        font-size: 1rem;
    }

    .footer_container .social_media{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1024px){

    .btn{
        font-size: .8rem;
    }
    
    .section_header .search_form {
        padding: 1rem;
        align-self: flex-end;
    }

    .section_header .search_form form{
        gap: 0;
    }

    .section_header .search_form form .form_content,.section_header .search_form form .form_content input, .section_header .search_form form .form_content select{
        font-size: .8rem;
    }

    .house-sale .house_container .house_box .house_img{
        font-size: .8rem;
    }

    .house-sale .house_container .house_box .house_name{
        font-size: 1rem;
    }

    .house-sale .house_container .house_box .house_location{
        font-size: .8rem;
    }
    
    .house-sale .house_container .house_box .house_price{
        font-size: 1rem;
    }

    .house_blog .blog_list_content{
        display: flex;
        flex-direction: column;
    }

    .house_blog .blog_list_content .blog_content2{
        margin: 3rem 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    .house_blog .blog_list_content .blog_content2 .blog_content{
        display: flex;
        flex-direction: column-reverse;
    }

    .house_blog .blog_list_content .blog_content2 .blog_content .blog_img img{
        width: auto;
    }

    .house_blog .blog_list_content .blog_content2 .blog_content .left_blog_content{
        display: flex;
        text-align: left;
        justify-content: space-between;
        padding: 1rem 0 0 0;
    }

    .blog_author{
        font-size: .8rem;
    }

    .subscribe_container form{
        padding: .5rem;
    }
}

@media only screen and (max-width: 767px){
    .nav .menu-nav{
        justify-content: flex-end;
        gap: 1rem;
    }

    body{
        padding: 2rem;
    }

    .section_header .header_content{
        grid-template-columns: 1fr auto ;
        grid-template-rows: 1fr auto;
    }

    .section_header .search_form{
        margin: 0;
    }

    .section_header > img{
        margin: 0;
        padding: 0;
    }

    .section_header .search_form form .form_content{
        width: 100%;
    }

    .section_header .search_form form .form_content_btn .btn{
        width: fit-content;
    }

    .house_blog .blog_list_content .blog_content2{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }

    /*.house_blog .blog_list_content .blog_content2 .blog_content .blog_img img{
        width: 300px;
        height: auto;
    }*/

    .house_blog .blog_list_content .blog_content2 .blog_content .left_blog_content .blog_title{
        font-size: 1.5rem;
    }

    .subscribe_container form{
        width: 100%;
    }

    .subscribe_container form input{
        padding: 0;
        font-size: .8rem;
    }
}

@media only screen and (max-width: 600px){

    body{
        padding: 1rem;
        max-width: fit-content;
    }

    .nav{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .section_header .header_content .header_title{
        font-size: 2.5rem;
    }

    .section_header .header_content .header_text{
        margin: auto;
    }
    
    .section_header .search_form {
        max-width: 100%;
        justify-self: stretch;
        align-self: stretch;
    }

    .section_header .search_form form{
        float: left;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .title_section{
        font-size: 1.5rem;
    }

    .house-sale .house_container{
        display: flex;
        flex-direction: column;
    }

    .house_blog .blog_list_content .blog_content2{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
    }

    .house_blog .blog_list_content .blog_content2 .blog_content .blog_img img{
        width: 100%;
    }
    
    .subscribe_container{
        margin: auto;
        margin-left: 0;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .subscribe_container h1{
        font-size: 1.4rem;
    }

    .subscribe_container form{
        width: 100%;
    }
}